@model WorkShopTraining.Models.Order
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<form id="orderForm">
    <div class="form-horizontal">
        @Html.AntiForgeryToken()
        <h3>查詢訂單</h3>
        <table class="table table-bordered">
            <tr>
                <td>訂單編號</td>
                <td colspan="4">@Html.TextBoxFor(model => model.OrderID, new { @class = "k-textbox" })</td>
            </tr>
            <tr>
                <td>客戶名稱</td>
                <td colspan="4">@Html.TextBoxFor(model => model.CustomerName, new { @class = "k-textbox" })</td>
            </tr>

            <tr>
                <td>負責員工</td>
                <td colspan="4">@Html.DropDownListFor(model => model.EmployeeID, (SelectList)ViewBag.empData, string.Empty)</td>
            </tr>
            <tr>
                <td>出貨公司</td>
                <td colspan="4">@Html.DropDownListFor(model => model.ShipperID, (SelectList)ViewBag.shipperData, string.Empty)</td>
            </tr>
            <tr>
                <td>訂購日期</td>
                <td>@Html.TextBoxFor(model => model.OrderDate, "{0:yyyy/MM/dd}", new { @type = "date" })</td>
                <td>出貨日期</td>
                <td>@Html.TextBoxFor(model => model.ShippedDate, new { @type = "date" })</td>
            </tr>
            <tr>
                <td>需要日期</td>
                <td colspan="4">@Html.TextBoxFor(model => model.RequiredDate, new { @type = "date" })</td>
            </tr>
            <tr>
                <td></td>
                <td colspan="4">
                    <input type="reset" value="查詢" onclick="SearchDataToGrid()" class="k-button">
                    <input type="reset" value="清除" onclick="Back()" class="k-button">
                    <input type="reset" value="新增" class="k-button" onclick=location.href =''>
                </td>
            </tr>
        </table>

        <div id="grid"></div>
    </div>

</form>


<script>
    $(document).ready(function () {
        $("#grid").kendoGrid({
            scrollable: false,
            filterable: true,
            sortable: true,
        });


        $("#OrderDate").kendoDatePicker({format: "yyyy-MM-dd"});
        $("#ShippedDate").kendoDatePicker({format: "yyyy-MM-dd"});
        $("#RequiredDate").kendoDatePicker({format: "yyyy-MM-dd"});


        var empData = @Html.Raw(Json.Encode(ViewBag.empData));
        var shipperData =@Html.Raw(Json.Encode(ViewBag.shipperData));

        $("#EmployeeID").kendoDropDownList({
            dataTextField: "Text",
            dataValueField: "Value",
            optionLabel: "請選擇",
            dataSource: empData
        });

        $("#ShipperID").kendoDropDownList({
            dataTextField: "Text",
            dataValueField: "Value",
            optionLabel: "請選擇",
            dataSource: shipperData
        });

    });

    function SearchDataToGrid() {
        $.ajax({
            url: "/Order/GetData",
            type: "POST",
            data: $('#orderForm').serialize(), //傳直到/order/getdata
            dataType: "JSON",
            success: function (msg) {
                debugger;
                $("#grid").kendoGrid({
                    pageable: {
                        pageSize: 10,
                        pageSizes: true,
                    },
                    dataSource: msg,
                    columns: [
                                {
                                    template: "<div style='text-align:center;'>#= ++record #</div>",
                                    attributes: { style: "text-align:center" },
                                    headerAttributes: { style: "text-align:center;vertical-align:middle" },
                                    attributes: { style: "text-align:center" },
                                    width: 40,
                                    title: "序號"
                                },
                                {
                                    field: "OrderID",
                                    title: "訂單編號",
                                    width: 180,
                                    attributes: { style: "text-align:center" },
                                    headerAttributes: { style: "text-align:center;vertical-align:middle" },
                                },
                                {
                                    field: "CustomerName",
                                    title: "客戶名稱",
                                    attributes: { style: "text-align:center" },
                                    width: 120,
                                    headerAttributes: { style: "text-align:center;vertical-align:middle" }
                                },
                                {
                                    field: "OrderDate",
                                    title: "訂購日期",
                                    attributes: { style: "text-align:center" },
                                    width: 100,
                                    headerAttributes: { style: "text-align:center;vertical-align:middle" }
                                },
                                {
                                    field: "ShippedDate",
                                    title: "出貨日期",
                                    attributes: { style: "text-align:center" },
                                    width: 180,
                                    headerAttributes: { style: "text-align:center;vertical-align:middle" }
                                },


                            {
                                command: {
                                    text: "修改",
                                    //click: updataCol,
                                },
                                attributes: { style: "text-align:center" },
                                width: 180,
                                headerAttributes: { style: "text-align:center;vertical-align:middle" },
                                title: "修改",
                            },

                               {
                                   command: {
                                       text: "刪除",
                                      // click: deleteCol,
                                   },
                                   attributes: { style: "text-align:center" },
                                   width: 180,
                                   headerAttributes: { style: "text-align:center;vertical-align:middle" },
                                   title: "刪除",
                               }
                    ],
                    //record製作Grid的序號
                    dataBinding: function () {
                        record = (this.dataSource.page() - 1) * this.dataSource.pageSize();
                    }
                });
       
            },
            error: function (xhr) {
                console.log(xhr);
            }
        });      
    }
</script>